<%- include('partials/header'); -%>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Agregar nuevo cliente</h3>
                    </div>
                    <div class="card-body">
                        <form action="/containers/add" method="POST">
                            <!-- <div class="input-group mb-3">
                                <span class="input-group-text">Container: </span>
                                <input type="text" class="form-control" placeholder="00" name="id_container">
                            </div> -->
                            <div class="input-group mb-3">
                                <select class="form-select" aria-label="Default" name="id_container">
                                    <option selected>Elegir Contenedor</option>
                                    <% for(var i=1; i<= process.env.TOTAL_CONTAINERS; i++) {%>
                                        <option value="<%= i %>">Ct. <%= i %></option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Cliente: </span>
                                <input type="text" class="form-control" placeholder="Apellido, Nombre" name="rented_by">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Importe $</span>
                                <input type="number" class="form-control" placeholder="0.00" step="1"
                                    name="price_tocharge">
                            </div>
                            <button class="btn btn-block btn-primary" type="submit" id="btn-addctdor">ACEPTAR</button>

                        </form>
                    </div>
                </div>
                <!-- ALERT MESSAGE TO TRY DELETE  -->
                <% if(alert!='' ) { %>
                    <div class="alert alert-dismissible alert-danger">
                        <%= alert %>
                    </div>
                    <% } %>

            </div>

            <!-- DATABASE TABLE -->
            <div class="col-md-7">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Precio/mes</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% containers.forEach(function (ct) { %>
                            <tr>
                                <td><%= ct.id_container %></td>
                                <td><%= ct.rented_by %></td>
                                <td align="right">$ <%= ct.price_tocharge %>,00</td>
                                <td>
                                    <a href="/containers/edit/<%= ct._id %>" class="btn btn-outline-warning">Editar</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>