<%- include('partials/header'); -%>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/pagos/add" method="POST">
                            <div class="input-group mb-3">
                                <select class="form-select" aria-label="Selecciona Contenedor" name="client">
                                    <option selected>Seleccionar Cliente</option>
                                    <% containers.forEach(function(ctdor) { %>
                                    <option value=<%= ctdor.id_container %>> 
                                        <%= (ctdor.id_container < 10)? '0'+ ctdor.id_container: ctdor.id_container %>
                                        . <%= ctdor.rented_by %>                                         
                                    </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"> Importe</span>
                                <input type="text" class="form-control" placeholder="0.00" name="value">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"> Recibo N°</span>
                                <input type="text" class="form-control" placeholder="000000" name="recibo_n">
                            </div>
                            <button class="btn btn-block btn-outline-primary" type="submit"
                                id="button-addon2">ACEPTAR</button>

                        </form>
                    </div>
                </div>
            </div>
            <!-- DATABASE TABLE -->
            <div class="col-md-7">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Importe</th>
                            <th>Fecha</th>
                            <th>Recibo</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% pagos.forEach(function (py) { %>
                            <tr>
                                <td><%= py.client %></td>
                                <td><%= py.value %></td>
                                <td><%= format(py.paid_at) %></td>
                                <td>0<%= py.recibo_n %></td>
                                <td>
                                    <a href="/pagos/delete/<%= py._id %>" class="btn btn-outline-danger">Delete</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>