<%- include('partials/header'); -%>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/containers/edit/<%= container._id %>" method="POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Container: </span>
                                <input type="text" readonly value='<%= container.id_container %>' class="form-control" placeholder="00" name="id_container">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Cliente: </span>
                                <input type="text" value='<%= container.rented_by %>' class="form-control" placeholder="Apellido, Nombre" name="rented_by">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Valor Mensual $</span>
                                <input type="text" value='<%= container.price_tocharge %>' class="form-control" placeholder="5000" name="price_tocharge">
                            </div>
                            <button class="btn btn-block btn-success" type="submit"
                                id="button-addon2">UPDATE</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>