<%- include('partials/header'); -%>

    <div class="container p-3">
        <div class="row">
            <!-- CONTAINER PROFILE -->
            <div class="col-md-5">
                <div class="card border-primary mb-3" style="min-width: 20rem;">
                    <div class="card-header">
                        <h3 class="text-center">Contenedor</h3>
                    </div>
                    <div class="card-body">
                        <form action="/containers/edit/<%= container._id %>" method="POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Container </span>
                                <input type="text" readonly value='<%= container.id_container %>' class="form-control"
                                    placeholder="00" name="id_container">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Cliente </span>
                                <input type="text" value='<%= container.rented_by %>' class="form-control"
                                    placeholder="Apellido, Nombre" name="rented_by">
                                    <a href="/containers/unlink/<%= container._id %>" class="btn btn-outline-info" >Desvincular</a>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Valor Mensual $</span>
                                <input type="number" step="1" value='<%= container.price_tocharge %>' class="form-control"
                                    placeholder="0.00" name="price_tocharge">
                            </div>
                            <button class="btn btn-block btn-outline-success" type="submit" id="btn-update">Actualizar Importe</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- CLIENT PROFILE  -->
            <div class="col-md-6">
                <div class="card border-primary mb-3" style="max-width: 60rem;">
                    <div class="card-header">
                        <h3 class="text-center">Datos del Cliente</h3>
                    </div>
                    <div class="card-body">
                        <form action="/clients/edit/<%= cliente._id %>" method="POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nombre Cliente</span>
                                <input type="text" class="form-control" value="<%=cliente.name %>" name="name" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Teléfono</span>
                                <input type="text" class="form-control" name="telephone" value=<%=cliente.telephone %>
                                />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Razón Social</span>
                                <input type="text" class="form-control" name="business"
                                    value="<%= cliente.business %>" />
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Saldo Actual:</span>
                                <input type="text" class="form-control text-warning" name="saldo_act"
                                    value= <%= getSaldo(cliente.deuda_total, cliente.pagos_total).toFixed(2) %>
                                    style=" font-size: 30px; 
                                    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
                                    readonly />
                            </div>
                            <br>
                            <!-- <button class="btn btn-block btn-success" type="submit" id="btn-updateclient" > -->
                            <button class="btn btn-block btn-outline-primary" type="submit">
                                Actualizar Datos del Cliente
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>